@{
    ViewBag.Title = "Home Page";
}
<div class="main-banner" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="caption header-text">
                    <h6>SEO DIGITAL AGENCY</h6>
                    <div class="line-dec"></div>
                    <h4>Dive <em>Into The SEO</em> World <span>With Tale</span></h4>
                    <p>Tale is the best SEO agency website template using Bootstrap v5.2.2 CSS for your company. It is a free download provided by TemplateMo. There are 3 HTML pages, <a href="index.html">Home</a>, <a href="about.html">About</a>, and <a href="faqs.html">FAQ</a>.</p>
                    <div class="main-button scroll-to-section"><a href="#services">Discover More</a></div>
                    <span>or</span>
                    <div class="second-button"><a href="faqs.html">Check our FAQs</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
@{ Html.RenderAction("ServiceList", "Service");}
@{ Html.RenderAction("ProjectList", "Project");}
@{ Html.RenderAction("InfoList", "Info");}

<div class="contact-us section" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-us-content">
                    <div class="row">
                        <div class="col-lg-4">
                            <div id="map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11376.412625799789!2d-74.0445!3d40.689249!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x40c6a5770d25022b!2zw5Z6Z8O8cmzDvGsgSGV5a2VsaQ!5e1!3m2!1str!2str!4v1672313503676!5m2!1str!2str" width="100%" height="670px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"  frameborder="0"></iframe>
                                @*<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12101.225545940446!2d-74.0445004!3d40.6892494!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x40c6a5770d25022b!2zw5Z6Z8O8cmzDvGsgSGV5a2VsaQ!5e0!3m2!1str!2str!4v1672313404327!5m2!1str!2str" width="100%" height="670px" frameborder="0" style="border:0; border-radius: 23px;" allowfullscreen=""></iframe>*@
                                @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12469.776493332698!2d-80.14036379941481!3d25.907788681148624!2m3!1f357.26927939317244!2f20.870722720054623!3f0!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x88d9add4b4ac788f%3A0xe77469d09480fcdb!2sSunny%20Isles%20Beach!5e1!3m2!1sen!2sth!4v1642869952544!5m2!1sen!2sth" width="100%" height="670px" frameborder="0" style="border:0; border-radius: 23px;" allowfullscreen=""></iframe>*@
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <form id="contact-form" action="" method="post">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="section-heading">
                                            <h2><em>Contact Us</em> &amp; Get In <span>Touch</span></h2>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <fieldset>
                                            <input type="text" name="name" id="name" placeholder="Your Name..." autocomplete="on" required>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-6">
                                        <fieldset>
                                            <input type="text" name="surname" id="surname" placeholder="Your Surname..." autocomplete="on" required>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-6">
                                        <fieldset>
                                            <input type="text" name="email" id="email" " placeholder="Your E-mail..." required="">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-6">
                                        <fieldset>
                                            <input type="text" name="subject" id="subject" placeholder="Subject..." autocomplete="on">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <textarea name="message" id="message" placeholder="Your Message"></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="orange-button">Send Message Now</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                            <div class="more-info">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="info-item">
                                            <i class="fa fa-phone"></i>
                                            <h4><a href="#">010-020-0340</a></h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="info-item">
                                            <i class="fa fa-envelope"></i>
                                            <h4><a href="#">info@company.com</a></h4>
                                            <h4><a href="#">hello@company.com</a></h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="info-item">
                                            <i class="fa fa-map-marker"></i>
                                            <h4><a href="#">Sunny Isles Beach, FL 33160, United States</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
