@using KapoTechProject.Models
@model List<Info>
<div class="infos section" id="infos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="left-image">
                                <img src="~/LayoutContent/assets/images/left-infos.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="section-heading">
                                <h2>More <em>About Us</em> &amp; What <span>We Offer</span></h2>
                                <div class="line-dec"></div>
                                <p>You are free to use this template for any purpose. You are not allowed to redistribute the downloadable ZIP file of Tale SEO Template on any other template website. Please contact us. Thank you.</p>
                            </div>
                            <div class="skills">
                                @foreach (var item in Model)
                                {
                                    <div class="skill-slide digital">
                                        <div class="fill"></div>
                                        <h6>@item.InfoName</h6>
                                        <span>@item.InfoSkill%</span>
                                    </div>
                                }

                                @*<div class="skill-slide digital">
                                    <div class="fill"></div>
                                    <h6>Ditigal Media</h6>
                                    <span>80%</span>
                                </div>
                                <div class="skill-slide media">
                                    <div class="fill"></div>
                                    <h6>Social Media Managing</h6>
                                    <span>95%</span>
                                </div>*@
                            </div>
                            <p class="more-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doers eiusmod tempor incididunt ut labore et dolore dolor dolor sit amet, consectetur adipiscing elit, sed doers eiusmod.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>