<footer>
    <div class="container">
        <div class="col-lg-12">
            <p>
                Copyright © @DateTime.Now.Year <a href="#">Kapo Technologies </a>. All rights reserved.
            </p>
        </div>
    </div>
</footer>
