<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

<title>Tale SEO Agency CSS Template by TemplateMo website</title>

<!-- Bootstrap core CSS -->
<link href="~/LayoutContent/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


<!-- Additional CSS Files -->
<link rel="stylesheet" href="~/LayoutContent/assets/css/fontawesome.css">
<link rel="stylesheet" href="~/LayoutContent/assets/css/templatemo-tale-seo-agency.css">
<link rel="stylesheet" href="~/LayoutContent/assets/css/owl.css">
<link rel="stylesheet" href="~/LayoutContent/assets/css/animate.css">
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
<!--

TemplateMo 582 Tale SEO Agency

https://templatemo.com/tm-582-tale-seo-agency

-->
