@model IEnumerable<KapoTechProject.Models.Service>
<div class="services section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-heading">
                            <h2>
                                Hizmetlerimiz
                            </h2>
                            <div class="line-dec"></div>
                            @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doers eiusmod.</p>*@
                        </div>
                    </div>
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-6 col-sm-6">
                            <div class="service-item">
                                <div class="icon">
                                    <img src="~/LayoutContent/assets/images/services-01.jpg" alt="discover SEO" class="templatemo-feature">
                                </div>
                                <h4>@item.ServiceName</h4>
                            </div>
                        </div>
                    }

                    @*<div class="col-lg-6 col-sm-6">
                        <div class="service-item">
                            <div class="icon">
                                <img src="~/LayoutContent/assets/images/services-02.jpg" alt="data analysis" class="templatemo-feature">
                            </div>
                            <h4>Real-Time Big Data Analysis</h4>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="service-item">
                            <div class="icon">
                                <img src="~/LayoutContent/assets/images/services-03.jpg" alt="precise data" class="templatemo-feature">
                            </div>
                            <h4>Precise Data Analysis &amp; Prediction</h4>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="service-item">
                            <div class="icon">
                                <img src="~/LayoutContent/assets/images/services-04.jpg" alt="SEO marketing" class="templatemo-feature">
                            </div>
                            <h4>SEO Marketing &amp; Social Media</h4>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>