<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Dashboard/Index/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">UI Elements</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#info" aria-expanded="false" aria-controls="info">
                <i class="mdi mdi-source-fork menu-icon"></i>
                <span class="menu-title">Info</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="info">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Admin/Infos/InfoList">Info Listele</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Admin/Infos/InfoAdd">Yeni İçerik Ekle</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#proje" aria-expanded="false" aria-controls="proje">
                <i class="mdi mdi-source-merge menu-icon"></i>
                <span class="menu-title">Projects</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="proje">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Admin/Projects/ProjectsList">Proje Listele</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Admin/Projects/ProjectsAdd">Yeni İçerik Ekle</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#service" aria-expanded="false" aria-controls="service">
                <i class="mdi mdi-google-circles-communities menu-icon"></i>
                <span class="menu-title">Service</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="service">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Admin/Services/ServicesList/">Service Listele</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Admin/Services/ServicesAdd/">Yeni İçerik Ekle</a></li>
                </ul>
            </div>
        </li>

        

        <li class="nav-item">
            <a class="nav-link" href="/Home/Index">
                <i class="mdi mdi-file-outline menu-icon"></i>
                <span class="menu-title">Siteye Git</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>
