
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            @{Html.RenderAction("WeatherPartial", "Dashboard");}

            <div class="col-md-6 grid-margin transparent">
                <div class="row">
                    @{Html.RenderAction("ServiceCounterPartial", "Dashboard");}
                    @{Html.RenderAction("TeamCounterPartial", "Dashboard");}
                </div>
                <div class="row">
                    @{Html.RenderAction("ProjectCounterPartial", "Dashboard");}

                    <div class="col-md-6 stretch-card transparent">
                        <div class="card card-light-danger">
                            <div class="card-body">
                                <p class="mb-4">Number of Clients</p>
                                <p class="fs-30 mb-2">47033</p>
                                <p>0.22% (30 days)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        @{Html.RenderAction("ProjectListPartial", "Dashboard");}
        @{Html.RenderAction("TeamsListPartial", "Dashboard");}

        
    </div>
    <!-- content-wrapper ends -->
</div>
