<div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
    <div class="card card-light-blue">
        <div class="card-body">
            <p class="mb-4">Proje Sayısı</p>
            <p class="fs-30 mb-2"> @ViewBag.ProjectCount</p>
            <p>2.00% (30 days)</p>
        </div>
    </div>
</div>
