<div class="col-md-6 mb-4 stretch-card transparent">
    <div class="card card-tale">
        <div class="card-body">
            <p class="mb-4">Hizmet Sayısı</p>
            <p class="fs-30 mb-2">@ViewBag.ServiceCount</p>
            @*<p>10.00% (30 days)</p>*@
        </div>
    </div>
</div>
