<div class="col-md-6 mb-4 stretch-card transparent">
    <div class="card card-dark-blue">
        <div class="card-body">
            <p class="mb-4">Ekip Üye Sayısı</p>
            <p class="fs-30 mb-2">@ViewBag.TeamCount</p>
            @*<p>22.00% (30 days)</p>*@
        </div>
    </div>
</div>
